:root {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16;
    font-family: 'Poppins', sans-serif;
    background-color: #111d4a;
}

main {
    position: relative;
}
/* _____________________ navigation bar _____________________ */

nav {
    z-index: 10;
    top: 0;
}

.navbar {
    background-color: #1839b1;
    color: #ffffff;
    height: 4rem;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-icon {
    flex-shrink: 0;
    height: 3rem;
    padding: 9px;
}

.navbar-icon > a > img {
    max-height: 100%;
    max-width: 100%;
}

.navbar-menu {
    height: 4rem;
    position: relative;
}

.navbar-menu > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1839b1;
    background-image: url(../img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    border: none;
    padding: 0;
    margin-left: auto;
}

#hamburger {
    height: 3rem;
    width: 3rem;
}

.navbar-list {    
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    background-color: #16339e;
    min-width: 160px;
    z-index: 1;
    display: none;
}

.navbar-list > a {
    min-width: 100vw;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px 0;
}

.navbar-list a:hover {
    background-color: #406e8e;
}

.navbar-menu:hover .navbar-list{
    display: block;
}

.navbar-menu:hover .navbar-button {
    background-color: #23395B;
}

a:visited {
    color: #ffffff;
}

/* _____________________ hero section _____________________ */ 

header {
    height: 95vh;
}

.hero-container {
    background-color: #111d4a;
    color: #ffffff;
    height: 100%;
    width: auto;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-image {
    align-self: center;
}

.hero-image > img {
    max-height: 400px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 15px 15px 15px #1839b1;
}

.hero-title {
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

#mytext {
    display: inline-block;
    vertical-align: middle;
    color: #cbf7ed;
    height: 3rem;
}

#mycursor {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 5px;
    height: 2rem;
    background-color: #cbf7ed;
    color: white;
    animation: blink .75s step-end infinite;
}

#hero-button {
    margin-top: 15px;
    padding: 10px 15px;
    font-family: 'Poppins';
    font-size: 1rem;
    background-color: #406e8e;
    color: white;
    border: #406e8e;
}

#hero-button:hover {
    cursor: pointer;
}

/* _____________________ about me section _____________________ */

.about-me {
    background-color: #111d4a;
    min-height: 100vh;
    height: auto;
    margin-top: 20px;
}

.about-container {
    background-color: #111d4a;
    color: #ffffff;
    height: auto;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.all-title {            /* reusable */
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
    margin: 40px 0 40px 0;
}

.all-title > hr {               /* reusable */
    border-top: 1px solid white;
    background-color: white;
    width: 100px;
}

.about-img {
    display: flex;
    margin-bottom: 2rem;
}

.about-img > img {
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 15px 15px 15px #1839b1;
}

.about-text {
    text-align: center;
    padding: 5px;
    font-size: 1rem;
}

/* _____________________ tech stack section _____________________ */   
.tech-stack {
    background-color: #111d4a;
    min-height: 100vh;
    height: auto;
    margin-top: 20px;
}

.tech-container {
    background-color: #111d4a;
    color: #ffffff;
    height: auto;
    margin: 0 5%;
    position: relative;
    display: grid;
}

.tech-title {
    font-size: 2rem;
    font-weight: bolder;
    margin: 30px 0 30px 0;
    justify-self: center;
    align-self: flex-end;
}

.tech-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0;
}

.tech-card {
    height: 4rem;
    width: 4rem;
    align-self: center;
    justify-self: center;
}

.tech-card > img {
    max-height: 100%;
    max-width: 100%;
}

/* _____________________ project section _____________________ */   
.project {
    background-color: #111d4a;
    min-height: 100vh;
    height: auto;
    margin-top: 20px;
}

.project-container {
    background-color: #111d4a;
    color: #ffffff;
    height: auto;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.project-wrapper {
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.project-wrapper > img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in;
    background-color: #111d4a;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.overlay-text {
    text-align: center;
    font-weight: bold;
}

.overlay-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.overlay-img > a > img {
    height: 48px;
    width: 48px;
    filter: invert(100%) sepia(0%) saturate(6%) hue-rotate(208deg) brightness(103%) contrast(106%);
    visibility: none;
}

.overlay:hover {
    opacity: 0.80;
    visibility: visible;
}

/* _____________________ contact section _____________________ */  

.contact {
    background-color: #111d4a;
    min-height: 100vh;
    height: auto;
    margin-top: 20px;
}

.contact-container {
    background-color: #111d4a;
    color: #ffffff;
    height: auto;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.contact-container > form {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.label-wrapper {
    width: 100%;
}

.label-wrapper > label {
    width: 100%;
    min-width: 100%;
}

.label-wrapper > input[type=text] {

}

.contact-input{
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
    font-family: 'Poppins', Arial, sans-serif;
}

#message-send {
    margin-top: 15px;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #406e8e;
    color: white;
    border: #406e8e;
}

.valid {
    border: 3px solid rgb(1, 255, 1);
}

.invalid {
    border: 3px solid rgb(255, 1, 1);
}

textarea:focus, input:focus{
    outline: none;
}

/* _____________________ footer section _____________________ */  

.my-footer {
    background-color: #23395B;
    color: #cbf7ed;
    height: 30vh;
}

.footer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-media > a {
    margin: 0 16px;
}

.social-media > a > img {
    max-height: 2rem;
    height: 2rem;
    max-width: 2rem;
    width: 2rem;
}

.footer-logo {
    filter: invert(100%) sepia(0%) saturate(6%) hue-rotate(208deg) brightness(103%) contrast(106%);
}
